<h2>Items</h2>

<table>
    <tr>
      <th>
        product's name
      </th>
      <th>
        price
      </th>
    </tr>
    <tr *ngFor='let item of items; index as itemId'>
      <td [title]="item.name + ' details'" [routerLink]="
      ['/items', itemId]">
        {{item.name}}
      </td>
      <td>
        {{item.price}}
      </td>
      <td>
        <button (click)="share()">Share</button>
      </td>
      <td>
        <!-- <app-alert [item]="item" (notify)="onNotify()">
        </app-alert> -->
      </td>
    </tr>
  </table>